@page
@model SMP.Pages.Meetings.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <div class="row">
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <h2>Sacrament Meeting planner</h2>
            <p>
                <a asp-page="Create">Create New</a>
            </p>

            <form asp-page="./Index" method="get">
                <div class="form-actions no-color">
                    <p>
                        Find by subject:
                        <input type="text" name="SearchString" value="@Model.CurrentFilter" />
                        <input type="submit" value="Search" class="btn btn-default" /> |
                        <a asp-page="./Index">Back to full List</a>
                    </p>
                </div>
            </form>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Presiding
                            </th>
                            <th>
                                Prayers
                            </th>
                            <th>
                                Speakers
                            </th>
                            <th>
                                <a asp-page="./Index" asp-route-sortOrder="@Model.SubjectSort">
                                    Subject
                                </a>
                            </th>
                            <th>
                                Songs
                            </th>
                            <th>
                                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort">
                                    @Html.DisplayNameFor(model => model.Meeting[0].MeetingDate)
                                </a>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Meeting)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Bishopric)
                                </td>
                                <td>
                                    <b>Opening:</b> <br>
                                    @Html.DisplayFor(modelItem => item.OpeningPrayer)
                                    <br><br>
                                    <b>Closing:</b><br>
                                    @Html.DisplayFor(modelItem => item.ClosingPrayer)
                                </td>
                                <td>
                                    1.@Html.DisplayFor(modelItem => item.Speaker1)
                                    <br>
                                    <br>
                                    2.@Html.DisplayFor(modelItem => item.Speaker2)
                                    <br>
                                    <br>
                                    3.@Html.DisplayFor(modelItem => item.Speaker3)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Subject1)
                                </td>
                                <td>
                                    <b>Opening:</b><br>
                                    @Html.DisplayFor(modelItem => item.OpeningSong)
                                    <br><br>
                                    <b>Sacrament:</b><br>
                                    @Html.DisplayFor(modelItem => item.SacramentSong)
                                    <br><br>
                                    @if (!(item.IntermediateSong == null))
                                    {

                                        <p><b>Intermediate:</b></p>                                   
                                        @Html.DisplayFor(modelItem => item.ClosingSong)
                                        <br /><br />
                                    }
                                    <b>Closing:</b><br>
                                    @Html.DisplayFor(modelItem => item.ClosingSong)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MeetingDate)
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
