@page
@model SMP.Pages.Hymns.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
            <h2>Hymns</h2>
            <p>
                <a asp-page="Create">Create New</a>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Hymn[0].Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Hymn[0].Number)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Hymn)
                        {
                            <tr class="listItem">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Number)
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.HymnID">Edit</a> |
                                    <a asp-page="./Details" asp-route-id="@item.HymnID">Details</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.HymnID">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>