@page
@model SMP.Pages.WardMembers.IndexModel

@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <div class="row">
        <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">

            <h2>Members</h2>

            <p>
                <a asp-page="Create">Create New</a>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.WardMember[0].FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.WardMember[0].LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.WardMember[0].Calling)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.WardMember)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Calling)
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.WardMemberID">Edit</a> |
                                    <a asp-page="./Details" asp-route-id="@item.WardMemberID">Details</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.WardMemberID">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>